<h2>Add Post</h2>
<form (ngSubmit) ="onSubmit(f)" #f= "ngForm" > <!-- on event of submit. #f is a local varibale named "f" known only in template -->
  <div class="form-group">
    <label for="post">Title</label>
    <input type="text"
            class="form-control"
            id="post"
            name="post"
            required
            [(ngModel)]="post.title">
  </div>
  <div class="form-group">
    <label for="body">Body</label>
    <input type="text"
            class="form-control"
            id="body"
            name="body"
            required
            [(ngModel)]="post.body ">      
  </div>
  <button  type="submit" class="btn btn-primary" >Submit</button>
</form>